<div class="row">

  <h2>How to get Brownsville, TX</h2>

  <p>Brownsville is the closest city to Matamoros, Mexico. From
    here, it is very convenient to enter Mexico.</p>
  <p>
    <strong>By bus</strong>
  </p>
  <p>If you live in or close to Texas, you can take Greyhound. The
    Greyhound bus station in Brownsville is just one block from the
    U.S.-Mexico border.</p>
  <p>
    <strong>By car</strong>
  </p>
  <p>If you drive, you can part your car at UETA DUTY FREE STORE
    PARKING LOT for just $5 per day. Its Address is 1401 E Elizabe th
    St, Brownsville, TX, just one block from the Gateway International
    Bridge. Also, you can park your car at hotels and garages, such as
    University Inn & Suite, address is 55 Sam Perl Blvd, Brownsville,
    TX. They charge $10 per day. It takes about 15 minutes walk to the
    U.S.-Mexico Border.</p>

  <p><strong>By air</strong></p>
  <p>If you fly to the Brownsville airport, you can take a taxi
    about $18-20 US dollars. Have the taxi drive you to the Greyhound
    Bus Station on 755 International Blvd by the Subway Restaurant, and
    wait inside the building. Text me once you land in Brownsville, and
    I will start travelling from Mexico to the U.S. to pick you up.</p>

  <h2>How to enter Matamoros, Mexico</h2>

  <p>
    With the recent changes in the Mexico visa process, if you have a valid US visa you dont need a Mexican visa. Review more details  <a
    href="https://mexico.visahq.com/" target="_blank">here</a>. or find the visa requirement for your country <a
    href="https://www.visahq.com/visas.php" target="_blank">here</a>.
  </p>
  <p>
    For people who require Mexico visa, on your arrival day, we will stop at the Mexico Immigration Office,
    the officer will check your passport. You will pay $30.00 Dlls, and fill out a form with all your information.
    <b>At the end of your trip before crossing into the U.S, you need to stop at this Immigration office, and return this permit/form. </b>
    The officer will stamp your passport to indicate that you have left Mexico. Make sure you bring exact change for the $30.00 Dlls. Fee per-person.
  </p>
  <p>
    For visa appointment on-line,check out this link <a
    href="https://ais.usvisa-info.com" target="_blank">ais.usvisa.info.com</a>
  </p>

  <h2>How to get to our hotel</h2>

  <p>
    I will pick you up at Brownsville and bring you to my hotel
    BW plaza Matamoros Mexico. Sunday-Friday, but you must arrive a day
    before your appointment at ASC.
  </p>
  <br>

</div>
