<div class="row">
  <h2>Contact Us</h2>

  <p>
    <b>Name:</b>Salvador Castaneda G.
  </p>
  <p>
    <b>E-mail:</b> salcas46@hotmail.com.
  </p>
  <p>
    <b>U.S. cell phone:</b> 956-545-5255. Text from 8 a.m. to 8 p.m. or
    Call after 8 p.m.
  </p>

  <b>Hotel address:</b>

  <address>
    <i> Best Western Hotel Plaza<br> 9th and bravo st.<br>
      Matamoros, Tamaulipas Mexico<br></i>
  </address>

  <h2>Map of our Hotel and US Consulate</h2>

  <img src="../../assets/Hotel/hotel-consulate.png" alt="Mountain View"
       style="width: 700px; height: 575px;"> <br>

</div>
