<div class="media">
  <img class="media-object" src="../../assets/BW.png" alt="Sample photo">
  <div class="media-body">
    <h3 class="media-heading">Get More When You Stay At Best Western</h3>
    <ul>
      <li>Hot Breakfast</li>
      <li>High-Speed Internet</li>
      <li>We are a U.S. franchise</li>
      <li>5 minutes from border</li>
      <li>5 minutes from ASC</li>
      <li>5 minutes from U.S. Consulate</li>
      <li>Liability insurance</li>
      <li>The safest area in the city</li>
    </ul>
  </div>
</div>
