<div class="media">
  <img class="media-object" src="../../assets/8s.jpg" alt="Sample photo">
  <div class="media-body">
    <h3 class="media-heading">Make Reservation</h3>
    <p>
      If you agree with all the details, please send us the following information to <a href="salcas46@hotmail.com">salcas46@hotmail.com</a> :<br>
      <br>
      <i>
        Name:<br>
        Address:<br>
        Phone:<br>
        Number of Person:<br>
        Day/Time Arrival:  Day/Time Check-Out:<br>
        By Air, or By Car, or By Bus:<br>
      </i><br>
      After getting your email, we will forward a reservation and confirmation number to you.
    <p>
      <a
        href="https://ais.usvisa-info.com/en-MX/niv/users/sign_in" target ="_blank">
        U.S. visa info sign in
      </a>

    </p>
    <p>Please choose MEXICO, MATAMOROS when you select location.</p>
  </div>
</div>
<div class="media">
  <img class="media-object" src="../../assets/8s.jpg" alt="Sample photo">
  <div class="media-body">
    <h3 class="media-heading">Hotel Fees</h3>

    <p>US Visa in Mexico requires visa fee payment to be made in Mexico at the local bank.
      <br>
      I will be happy to help you as long as you send me:
    </p>
    <p>$240.00 + Tax(16%) that covers a reservation for a 2 night stay for 1 person.</p>
    <p>$360.00 + Tax(16%) that covers a reservation for a 2 night stay for 2 persons sharing the same room.
    </p>
    <p>
      $300.00 + Tax(16%) that covers a reservation for 2 night stay for 2 persons sharing the same room but only one is getting his visa.
    </p>

    <p>If you have to stay a third night or more the hotel fee for 1 person is $69.00 + Tax(16%), hotel fee por 2 persons is $79.00 + Tax(16%)per night.</p>
    <p>1-2 children up to 10 years enter free. 11-16 years will be paying $10.00.</p>
    <p>I will be glad to make your visa fee payment $220.00 dlls per person from my money for your visa fee. You will be paying me back <b>IN CASH ONLY</b> at your arrival.</p>
    <p>You must send us details of your VISA or MASTERCARD by phone for accepting the charge on your credit card, we will be forwarding you a copy of the total amount to your e-mail.
    </p>
  </div>
</div>
