<h3>During the stay in our hotel.</h3>
<main class="cards">
  <article class="card">
    <img class ="circle" src="../../assets/Getting-to-Mexico-680x340.jpg" alt="Sample photo">
    <div class="text">
      <h3>Day 1 - pick up</h3>
      <p>I pick you up in Brownsville, and bring you back to Best Western Plaza hotel in Matamoros, Mexico 7 days a week.</p>

    </div>
  </article>
  <article class="card">
    <img class ="circle" src="../../assets/usvisit_fingerprint_machine.jpg" alt="Sample photo">
    <div class="text">
      <h3>Day 2 - fingerprint and photo</h3>
      <p>At 8.15 am, I drive you to the ASC office for fingerprinting and taking photo, wait for you outside the consulate, then drive you back to the hotel.</p>

    </div>
  </article>
  <article class="card">
    <img class ="circle" src="../../assets/interview2.jpg" alt="Sample photo">
    <div class="text">
      <h3>Day 3 - interview and go home</h3>
      <p>At 7.30 am, I drive you for your 8 am U.S. Consulate Interview appointment. Once approved, I also drive you for picking up your visa stamp and passport. Finally, I give you ride to the U.S-Mexico border.</p>

    </div>
  </article>
  <article class="card">
    <img class ="circle" src="../../assets/29m.jpg" alt="Sample photo">
    <div class="text">
      <h3>Short tour in town</h3>
      <p>We also provide a short tour in town by car, including grocery store and super market, which makes your visa-renew as a tour in Mexico. </p>

    </div>
  </article>
</main>
